.link {
    padding: 3vw;
    text-align: center;
    font-size: 3vw;
    line-height: 100%;
    color: #FFF;
    background-color: #006E0D;
    border-radius: 24px;
    cursor: pointer;
}

.back {
    width: max-content;
    display: flex;
    gap: 1.11vw;
    font-size: 2.04vw;
    line-height: 100%;
    border-radius: 1.5vw;
    background: #F4F3F7;
    padding: 2.22vw;
}