.link {
    padding: 12px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    background-color: #006E0D;
    border-radius: 12px;
    cursor: pointer;
}

.back {
    width: max-content;
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
    background: #F4F3F7;
    padding: 10px 20px;
}