.payment {
    width: 920px;
    padding: 20px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 500px;
        overflow-y: auto;
    }

    &__title {
        font-size: 37px;
        font-weight: 500;
        line-height: 37px;
        color: #1B1B1F;
    }

    &__link {
        margin-top: auto;
    }

    &__item {
        background-color: #F4F3F7;
        border-radius: 10px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        cursor: pointer;
    }

    &__bank {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        color: #1B1B1F;
    }

    &__bank_icon {
        padding: 10px;
        border-radius: 50%;
        background-color: #FAF9FD;
    }

    &__cashbacks {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
    }

    &__no_cashback {
        margin-left: 56px;
    }

    &__cashback {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #44474F;
        border-radius: 8px;
        padding: 8px;
        background-color: #FAF9FD;
    }
}