.payment {
    gap: 7.41vw;
    width: 100vw;
    padding: 7.41vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2.96vw;
        height: 40vh;
        overflow-y: auto;
    }

    &__title {
        font-size: 4.2vw;
        font-weight: 500;
        line-height: 100%;
        color: #1B1B1F;
    }

    &__link {
        margin-top: auto;
    }

    &__item {
        background-color: #F4F3F7;
        border-radius: 10px;
        padding: 2.96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        cursor: pointer;
    }

    &__bank {
        display: flex;
        align-items: center;
        gap: 1.48vw;
        font-size: 2.59vw;
        font-weight: 400;
        line-height: 100%;
        color: #1B1B1F;
    }

    &__bank_icon {
        padding: 0.93vw;
        border-radius: 50%;
        background-color: #FAF9FD;
    }

    &__cashbacks {
        display: flex;
        flex-wrap: wrap;
        gap: 0.74vw;
        margin-top: 1.11vw;
    }

    &__no_cashback {
        font-size: 1.48vw;
        margin-left: 5.93vw;
        font-weight: 500;
        line-height: 100%;
    }

    &__cashback {
        display: flex;
        align-items: center;
        gap: 0.74vw;
        font-size: 1.11vw;
        font-weight: 400;
        line-height: 100%;
        color: #44474F;
        border-radius: 1.48vw;
        padding: 0.74vw;
        background-color: #FAF9FD;
    }
}